:root {
    --color-neutral-0:#ffff;
    --color-neutral-1: #5A3872;
    --color-neutral-2: #64438b; 
    --color-neutral-3: #8063a9;
    --color-neutral-4: #b895d4;
    --color-neutral-5: #b8a3e5;
    --color-neutral-6: #000000; 
    --color-neutral-7: #333333;
    --color-neutral-8: #444444;
    --color-neutral-9: #555555;
    --color-neutral-10: #666666;

}